@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Grand+Hotel&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --slantedText: "Grand Hotel", cursive;
  --primaryColor: #698f3f;
  --secondaryColor: #fca311;
  --letterSpacing: 0.5rem;
  --mainTransition: all 0.3s ease-in-out;
  --maindark: grey;
  --mainwhile: white;
}
.nav__logo {
  margin-left: auto;
  margin-right: auto;
}
.nav {
  width: 100%;
  height: 100%;
}
.header {
  background: whitesmoke;
}
.nav__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.25rem;

}
.nav__link {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  background: grey;
  margin-top: 8px;
  padding: 5px;
  overflow: hidden;
  background: black;
  display: flex;
  letter-spacing: 0.3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-items: baseline;
  flex: 1 0 100px;
}
.nav__single__link {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-style: italic;
  text-transform: capitalize;
  color: white;
  transition: all 1s linear;
  transition: border 2s ease, background 2s ease-out;
}
.nav__single__link:hover {
  background: whitesmoke;
  color: #333;
  padding-left: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
}
.banner {
  top: 50%;
  left: 50%;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/backhead.jpg");
    background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-subtitle {
  text-align: center;
  font-size: 2rem;
  font-family: var(--slantedText);
  color: whitesmoke;
  animation: slideFromRight 5s ease-in-out 1;
  padding-top: 40px;
}
.banner-title {
  margin-top: 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.2rem;
  color: whitesmoke;
  text-shadow: 2px 1px black;
  line-height: 1.3;
  padding-bottom: 30px;

  /*animation*/
  animation: slideFromleft 5s ease-in-out 1;
}
.banner-button {
  position: relative;
  margin-top: 60px;
  display: inline-block;
  background: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.8rem 1.2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: #fca311;
  outline-offset: 2px;
  margin-top: 2rem;
  transition: border 0.2s ease;
  transition: background 2s ease;
  padding: 1.2rem 1.5rem;
  animation: show 5s ease-in-out 1;
  border-radius: 21px;
}
.banner-button:hover {
  background: #698f3f;
  border-radius: 20px;
  border: 2px solid #333;
}
@keyframes show {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateY(1000px);
  }

  50% {
    transform: translateY(-200px);
  }

  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideFromleft {
  0% {
    transform: translateY(-1000px);
  }

  50% {
    transform: translateY(+200px);
  }

  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
.banner1 {
  top: 50%;
  left: 50%;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/DSC_1490.JPG") center/cover no-repeat fixed;
}
.location {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  height: 50%;
  transition: var(--mainTransition);
  padding-top: 50px;
  border-radius: 50px;
}
.bannerlocation {
  top: 50%;
  left: 50%;
  text-align: center;
  background: lightgray;
}
.footer {
  height: 80px;
  background: var(--maindark);
  text-align: center;
}
.section-center
{
 
}
.social_icon {
  color: var(--mainWhile);
  font-size: 1.3rem;
  word-spacing: 10px;

}
.social_icon .fab {
  margin-top: 10px;
  color: black;
}
.social_icon .fab:hover {
  color: var(--mainwhile);
}
.footer_text {
  text-transform: uppercase;
  color: var(--mainwhile);
  letter-spacing: var(--letterSpacing);
  margin-top: 1rem;
  font-size: 0.8rem;
}
.location {
  text-align: center;
  text-transform: uppercase;
  color: antiquewhite;
}
.item-info .fa {
  color: var(--primaryColor);
  font-size: 60px;
}
.location-text {
  font-size: 30px;
  margin-top: 10px;
  font-style:italic;
  color: black;
  font-weight: 900;
}
.recent-post
{
  font-size: 15px;
  letter-spacing: 0.5em;
}

.location-text:hover
{
  color: #698f3f;
}
.item-info .fa:hover {
  max-width: 30%;
  color: antiquewhite;
}
.section {
  widows: auto;

  padding: 60px;
  margin-top: 20px;
}
@media screen and (min-width: 100px) {
  .section {
    display: flex;
  }
}
@media screen and (min-width: 576px) {
  .section {
    display: block;
  }
}
.about {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  color: whitesmoke;
}
.about:hover
{
  color: #698f3f;
}
.bannerAbout {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/4.JPG");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.about-text {
  color: peru;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 25px;
  font-style: italic;
}
.services-container
{
 max-width: 90vw;
 margin: 0 auto;
}
#Services
{
  background:lightgray;
}
.service-item
{
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    color: #e0e2db;
    overflow: hidden;
    margin: 20px 0;

}
#Services img
{
    width:100%;
    height: 100%;
    display: block;
    transition: transform 4s; 
    border-radius: 50px;
}
.img-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0;
    transition: opacity 4s;
}
.img-text h1
{
    font-size: 40px;
    margin-bottom: 10px;
    font-style: italic;
    color:whitesmoke;
    font-weight: 900;
}
 .service-item:hover img
    {
        opacity: 0.4;
        transform: scale(1.3);
    }
     .service-item:hover .img-text
     {
       opacity : 1;
     }
      @media screen and (min-width:576px)
     {
          .services-container
         {
             display: grid;
             grid-template-columns:repeat(2,1fr);
             grid-column-gap: 1em;
         }
     }
     
     @media screen and (min-width:992px)
     {
         .services-container
         {
             display: grid;
             grid-template-columns:repeat(3,1fr);
             grid-column-gap: 1em;
         }
     }
     .service .title
     {
       padding: 30px;
       font-size: 40px;
       text-align: center;
     }
      .service .title:hover
      {
        color: #698f3f;
      }
     #Gallery
     {
       background-color:lightgrey;
       width: 100%;
       height: 100%;
     }
    .gallery-item
{
    position: relative;
   
    color: #e0e2db;
    overflow: hidden;
    margin: 20px 0;

}
.gallary-container
{
  width: 100%;
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
#Gallery img
{
    width:100%;
    height: 100%;
    display: block;
    transition: transform 4s;    
}
#Gallery img:hover
{
  transform: scale(1.2);
}
.gallery-item h1
{
     width: 100%;
   
    text-align: center;
    justify-content: baseline;
    margin: auto auto;
    font-size: 40px;
    margin-bottom: 10px;
    font-style: italic;
    color:whitesmoke;
    font-weight: 900;
     background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
}
 @media screen and (min-width:576px)
     {
          .gallary-container
         {
             display: grid;
             grid-template-columns:repeat(2,1fr);
             grid-column-gap: 1em;
         }
     }
     
     @media screen and (min-width:992px)
     {
         .gallary-container
         {
             display: grid;
             grid-template-columns:repeat(2,0.5fr);
             grid-column-gap: 1em;
         }
         .gallery-item img
         {
           display: block;
         }
        }
      .text-container
     {
         padding: 10px 5px 30px 5px;
     }
     .text-container .a-text
     {
         text-decoration: none;
         font-size: 20px;
         padding: 5px;
         border: 2px solid #e6af2e;
         color: #e6af2e;   
          
     }
    
         .text-container a:hover
         {
             background-color: #191716;
          
         }
 #Owner img
{
    width:100%;
    height: 100%;
    display: block;
    transition: transform 4s;    
}
.owner-item h1
{
     width: 100%;
   
    text-align: center;
    justify-content: baseline;
    margin: auto auto;
    font-size: 20px;
    margin-bottom: 10px;
    font-style: italic;
    color:whitesmoke;
    font-weight: 900;
     background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
}
.owner-container
{
  width: 100%;
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
#Owner
{
  background:lightgray;
}
.text-container p
{
  text-align: center;
  font-size: 30px;
  word-spacing: 0.5em;
}
 .text-container .fab
 { 
      
         text-decoration: none;
         font-size: 30px;
         padding: 5px;
         color:darkslategray;   
         background-color: transparent;
          
     }
   
      @media screen and (min-width:576px)
     {
          .owner-container
         {
             display: grid;
             grid-template-columns:repeat(2,1fr);
             grid-column-gap: 1em;
         }
     }
     
     @media screen and (min-width:992px)
     {
         .owner-container
         {
             display: grid;
             grid-template-columns:repeat(4,0.5fr);
             grid-column-gap: 1em;
         }
         .owner-item img
         {
           display: block;
         }
        }
        #Contact
        {
          background: #333;
          color: #e0e2db;
        }
.text-container h1{
  font-size: 25px;
 
 text-align: center;
  padding-bottom: 5px;
}
#Lawn
{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("./images/2.JPG");
    background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#Decoration
{
     background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("./images/deco1.PNG");
    background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.video {
	display: block;
  max-width: 75%;
	margin: 0 auto; 
} 
.view 
{
  color: #333;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}
.view:hover
{
 color: #698f3f;
}
.view1
{
  color: #333;
  font-style: italic;
  text-align: center;
  margin-bottom:20px;
  margin-top: 20px;
  font-size: 30px;
}
.view1:hover
{
  color: #698f3f;
}
#topview
{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("./images/2.JPG");
    background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.booking
{
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.booking .button
{
 font-size: 20px;
}